<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/style.css" />

    <title>Contact with Us</title>
  </head>
  <body>
	<div class="top-header" id="myHeader">
		<div class="container">
			<!-- Start navbar -->
			<nav class="navbar navbar-expand-lg my_navbar">
			  <a class="navbar-brand logo" href="index.html">BB</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto main-menu">
				  <li class="nav-item active">
					<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Find your Basa</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="contact.html">Contact Us</a>
				  </li>
				</ul>
				
				<div class="form-inline my-2 my-lg-0">
				  <button class="btn btn-warning mr-sm-2 m-bnt1" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Login</button>
				  <button class="btn btn-info my-2 my-sm-0 m-btn2" type="submit">Add Listing</button>
				</div>
			  </div>
			</nav>
			<!-- End navbar -->
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Please Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="" method="">
		  <div class="modal-body">
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
				  <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			If you are not Registered please <a href="regiform.html"> Singup</a>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Login</button>
		  </div>
	  </form>
    </div>
  </div>
</div>
	<!-- Start breadcrumb bar -->
	<div class="desktop-bar">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-8 text-right">
					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb mybreadcum">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Contact</li>
					  </ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<h3 style="padding-top:20px;" class="whats_this_title">CONTACT WITH US</h3>
		<div class="card m-3">
			<div class="contact_info">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h4 class="contact_heading">Whatsapp</h4>
							<div class="contact_item media">
								<i class="fab fa-whatsapp fa-3x"></i>
							  <div class="media-body">
								<p class="mb-0">
									Whatsapp: <a href="intent://send/+8801724802244#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">Bangladesh</a>
								</p>
							  </div>
							</div>
						</div>
						<div class="col-md-4">
							<h4 class="contact_heading">Phone</h4>
							<div class="contact_item media">
								<i class="fas fa-mobile fa-3x"></i>
							  <div class="media-body">
								<p class="mb-0">
									Phone: 01724802244, <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 017542481004
								</p>
							  </div>
							</div>
						</div>
						<div class="col-md-4">
							<h4 class="contact_heading">E-mail</h4>
							<div class="contact_item media">
								<i class="fa fa-paper-plane fa-2x"></i>
							  <div class="media-body">
								<p class="mb-0">
									E-mail: <a href="mailto:mqi.bangladesh@gmail.com">mqi.bangladesh@gmail.com</a>  <br>
								</p>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="massege_area">
				<div class="container">
					<div class="contact_top text-center">
						<h3>PLEASE FEEL FREEE TO CONTACT US BY EMAIL/WHATSAPP OR PHONE CALL:</h3>
						<p></p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form class="form-group" data-toggle="validator" novalidate="true">
								<div class="row">
									<div class="col-md-6 col-xs-12">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control input_txt" id="name" name="name" placeholder="Your Name" required="" data-error="Please enter your name">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="email" class="form-control input_txt" id="email" placeholder="E-mail" required="" data-error="Please enter your email">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-xs-12">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<textarea class="form-control input_txta" id="message" placeholder="Your Message" rows="9" data-error="Write your message" required=""></textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12 col-xs-12">
										<button type="submit" id="submit" class="btn" style="pointer-events: all; cursor: pointer;background: #007bff;; color: #fff; font-size: 14px;border-radius:2px;text-transform: uppercase;padding:10px 25px; ">Send Message</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	</div>
	<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h5>Connect with Us</h5>
            <div class="likeus">
              <i class="fab fa-facebook-f"></i>
              <strong>Like us on Facebook</strong>
            </div>
          </div>
          <div class="col-md-3">
            <h5>Learn More</h5>
            <div class="footmenu">
              <ul>
                <li><a href="">How to rent fast</a></li>
                <li><a href="">Rent Now on </a></li>
                <li><a href="">BasaBhara.com</a></li>
                <li><a href="">Membership</a></li>
                <li><a href="">Banner Advertising</a></li>
                <li><a href="">Promote Your Ad</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h5>Help & Suport</h5>
            <div class="footmenu">
              <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Stay safe on </a></li>
                <li><a href="">BasaBhara.com</a></li>
                <li><a href="">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h5>About Us</h5>
            <div class="footmenu">
              <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Career</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="copyright">
              <span class="float-left">
                Copyright &copy Ashis Sarker
              </span>
              <span class="float-right">
                  <h5><strong>BasaBhara.com</strong></h5>
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer>
   
<a href="" class="scrollTop">Top</a>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
	<script src="js/jquery.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	
	<script type="text/javascript">
		$('.owl-carousel').owlCarousel({
			loop:true,
			margin:15,
			nav:false,
			dots:false,
			autoplay:true,
			autoplayTimeout:1000,
			autoplayHoverPause:true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:3
				},
				1000:{
					items:4
				}
			}
		});
		
		$(document).ready(function(){

      $(window).scroll(function(){


        if ($(this).scrollTop()>100){
          $(".scrollTop").fadeIn(200);
        } else {
                $('.scrollTop').fadeOut(200);
            }
      });

      $(".scrollTop").click(function(){
        $("html, body").animate({scrollTop:0}, 800);
        return false;
      })


    });
	// When the user scrolls the page, execute myFunction 
		window.onscroll = function() {myFunction()};

		// Get the header
		var header = document.getElementById("myHeader");

		// Get the offset position of the navbar
		var sticky = header.offsetTop;

		// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
		function myFunction() {
		  if (window.pageYOffset > sticky) {
			header.classList.add("sticky");
		  } else {
			header.classList.remove("sticky");
		  }
		}

	
	</script>
  </body>
</html>