
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/style.css" />

    <title>BasaBhara of Sylhet</title>
  </head>
  <body>
	<div class="top-header" id="myHeader">
		<div class="container">
			<!-- Start navbar -->
			<nav class="navbar navbar-expand-lg my_navbar">
			  <a class="navbar-brand logo" href="index.php">BB</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">|||</span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto main-menu">
				  <li class="nav-item active">
					<a class="nav-link" href="index.php">Home <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Find your Basa</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="contact.php">Contact Us</a>
				  </li>
				</ul>
				
				<div class="form-inline my-2 my-lg-0">
				  <button class="btn btn-warning mr-sm-2 m-bnt1" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Login</button>
				  <button class="btn btn-info my-2 my-sm-0 m-btn2" type="submit">Add Listing</button>
				</div>
			  </div>
			</nav>
			<!-- End navbar -->
		</div>
	</div>
	
	
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Kshiti Ghelani
                                    </h5>
                                    <h6>
                                        Web Developer and Designer
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a style="color:#000!important;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color:#000!important;" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline Post</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Kshiti123</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Kshiti Ghelani</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>kshitighelani@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>123 456 7890</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Web Developer and Designer</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table id="customers">
								  <tr>
									<th>Title</th>
									<th>Address</th>
									<th>Post Date</th>
									<th>Action</th>
								  </tr>
								  <tr>
									<td>Centro comercial Moctezuma</td>
									<td>Francisco Chang</td>
									<td>Mexico</td>
									<td>
										<a href="" class="btn btn-danger">Delete</a>
										<a href="" class="btn btn-success">Edit</a>
									</td>
								  </tr>
								</table>       
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>


	<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h5>Connect with Us</h5>
            <div class="likeus">
              <i class="fab fa-facebook-f"></i>
              <strong>Like us on Facebook</strong>
            </div>
          </div>
          <div class="col-md-3">
            <h5>Learn More</h5>
            <div class="footmenu">
              <ul>
                <li><a href="">How to rent fast</a></li>
                <li><a href="">Rent Now on </a></li>
                <li><a href="">BasaBhara.com</a></li>
                <li><a href="">Membership</a></li>
                <li><a href="">Banner Advertising</a></li>
                <li><a href="">Promote Your Ad</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h5>Help & Suport</h5>
            <div class="footmenu">
              <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Stay safe on </a></li>
                <li><a href="">BasaBhara.com</a></li>
                <li><a href="">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h5>About Us</h5>
            <div class="footmenu">
              <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Career</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="copyright">
              <span class="float-left">
                Copyright &copy Ashis Sarker
              </span>
              <span class="float-right">
                  <h5><strong>BasaBhara.com</strong></h5>
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  
<a href="" class="scrollTop">Top</a>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
	<script src="js/jquery.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	
	<script type="text/javascript">
		$('.owl-carousel').owlCarousel({
			loop:true,
			margin:15,
			nav:false,
			dots:false,
			autoplay:true,
			autoplayTimeout:1000,
			autoplayHoverPause:true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:3
				},
				1000:{
					items:4
				}
			}
		});
		
		$(document).ready(function(){

      $(window).scroll(function(){


        if ($(this).scrollTop()>100){
          $(".scrollTop").fadeIn(200);
        } else {
                $('.scrollTop').fadeOut(200);
            }
      });

      $(".scrollTop").click(function(){
        $("html, body").animate({scrollTop:0}, 800);
        return false;
      })


    });
	// When the user scrolls the page, execute myFunction 
		window.onscroll = function() {myFunction()};

		// Get the header
		var header = document.getElementById("myHeader");

		// Get the offset position of the navbar
		var sticky = header.offsetTop;

		// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
		function myFunction() {
		  if (window.pageYOffset > sticky) {
			header.classList.add("sticky");
		  } else {
			header.classList.remove("sticky");
		  }
		}

	
	</script>
  </body>
</html>